In [61]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

In [62]:
df = pd.read_csv('data.csv')

In [63]:
df

           RTT  Category
0     0.005768         0
1     0.028131         0
2     0.027017         0
3     0.018183         0
4     0.020868         0
...        ...       ...
5311  0.106236         1
5312  0.131086         1
5313  0.128193         1
5314  0.105811         1
5315  0.111664         1

[5316 rows x 2 columns]

In [65]:
le = LabelEncoder()
y = le.fit_transform(df['Category'])

In [66]:
X = df.drop('Category', axis=1)

In [67]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [68]:
model = SVC()
model.fit(X_train, y_train)

SVC()

In [69]:
y_pred = model.predict(X_test)

In [70]:
accuracy = model.score(X_test, y_test)
print(f'Accuracy: {accuracy}')

Accuracy: 0.9953007518796992