In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np

In [2]:
data = pd.read_csv('data.csv')

In [3]:
data

           RTT  Category
0     0.005768         0
1     0.028131         0
2     0.027017         0
3     0.018183         0
4     0.020868         0
...        ...       ...
5311  0.106236         1
5312  0.131086         1
5313  0.128193         1
5314  0.105811         1
5315  0.111664         1

[5316 rows x 2 columns]

In [4]:
from sklearn.svm import OneClassSVM

In [13]:
# Ndaj të dhënat sipas kolonave
X = data.drop('Category', axis=1)  # Kategoria
y = data['RTT']  # RTT

In [14]:
model = OneClassSVM()
model.fit(X)

OneClassSVM()

In [15]:
# Use the model to predict which samples are anomalies
y_pred = model.predict(X)

In [16]:
# Count the number of anomalies
n_anomalies = (y_pred == -1).sum()
print(f'Number of anomalies: {n_anomalies}')

Number of anomalies: 2658